 .player-bar {
     position: fixed;
     bottom: 0;
     left: 0;
     right: 0;
     height: 200px;
     background-color: rgba(255, 255, 255, 0.3);
     z-index: 100;
 }
 
 .player-bar a,
 .player-bar a:hover {
     color: white;
     cursor: pointer;
     text-decoration: none;
 }
 
 .player-bar .container {
     display: table;
     padding: 0;
     width: 90%;
     min-height: 100%;
 }
 
 .player-bar .control-group {
     display: table-cell;
     vertical-align: middle;
 }
 
 .player-bar .main-controls {
     width: 25%;
     text-align: left;
     padding-right: 1rem;
 }
 
 .player-bar .currently-playing {
     width: 50%;
     text-align: center;
     position: relative;
 }
 
 .player-bar .volume {
     width: 25%;
     text-align: right;
 }

 .player-bar .volume .icon {
     font-size: 1.1rem;
     display: inline-block;
     vertical-align: middle;
 }
 
 .player-bar .volume .seek-bar {
     display: inline-block;
     width: 5.75rem;
     vertical-align: middle;
 }

@media (max-width: 640px) {
     .player-bar {
         padding: 1rem;
         background-color: rgba(0,0,0,0.6);
     }
 
     .player-bar .main-controls,
     .player-bar .currently-playing,
     .player-bar .volume {
         display: block;
         margin: 0 auto;
         padding: 0;
         width: 100%;
         text-align: center;
     }
     
     .player-bar .main-controls,
     .player-bar .volume {
         min-height: 3.5rem;
     }
     
     .player-bar .currently-playing {
         min-height: 2.5rem;
     }
      
     .player-bar .artist-name,
     .player-bar .song-name {
         display: none;
     }
 
     .player-bar .currently-playing .artist-song-mobile {
         display: block;
     }
 }